@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Lato:wght@400;700&display=swap');

:root {
  --primary-color: #060B0F;
  --secondary-color: #FFBF00;
  --accent1-color: #44B0DB;
  --accent2-color: #A9BC8A;

  --heading-font: 'Open Sans', sans-serif;
  --paragraph-font: 'Lato', sans-serif;
}

body {
  font-family: var(--paragraph-font);
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

p {
  color: var(--primary-color); 
}

nav.sociallinks a {
  text-decoration: none; 
  display: inline-block; 
  margin-right: 10px; 
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav.sociallinks img {
  width: 20px; 
  height: auto; 
}

/* Hero Section */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto; /* Maintains aspect ratio */
}

/* Hero Content */
.hero-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.hero-content h1 {
  color: var(--primary-color);
}

/* Article Container */
.article-container {
  position: relative;
  margin-top: 20px;
}

/* Individual Articles */
article {
  background-color: rgba(255, 191, 0, 0.8); /* Background color with opacity for readability */
  padding: 20px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article p {
  margin-left: 20px;
  margin-bottom: 10px; /* Margin bottom for paragraphs */
}

.company-info img {
  width: 150px;
  height: auto;
  margin-left: 20px;
}

p {
  margin-bottom: 10px;
}
