:root {
  --primary-color: #1a1a1a; 
  --secondary-color: #0066cc; 
  --accent1-color: #008000; 
  --accent2-color: #cc6600; 
  --text-color: #333; 
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ecf0f1; 
  color: var(--text-color);
}

h1 {
  font-family: 'Lato', sans-serif;
  color: var(--secondary-color);
  font-size: 2rem;
}

h2 {
  font-family: 'Lato', sans-serif;
  color: var(--secondary-color);
  font-size: 1.5rem; 
}

p {
  color: var(--primary-color); 
}

nav.sociallinks a {
  text-decoration: none; 
  display: inline-block; 
  margin-right: 10px; 
}

header {
  background-color: #fff; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-shrink: 0;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color); 
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--accent1-color); 
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: var(--accent1-color); 
}

nav.sociallinks img {
  width: 20px;
  height: auto;
}

.hero {
  position: relative;
  margin-top: 20px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 600px; 
  margin-top: 10px; 
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 1em;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.newsletter-signup {
  text-align: center;
  padding: 2em;
  background-color: #f4f4f4;
}

.call-to-action {
  text-align: center;
  padding: 2em;
  background-color: var(--primary-color);
  color: white;
}

.call-to-action .cta-button {
  display: inline-block;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.call-to-action p {
  color: white;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 2em;
  background-color: #f4f4f4;
}

.content-grid .grid-item {
  text-align: center;
}

.content-grid .grid-item img {
  width: 80%; 
  max-width: 300px; 
  height: auto;
  border-radius: 5px;
}

footer {
  background-color: #fff; 
  padding: 20px;
  text-align: center;
  color: var(--text-color); 
}

footer .sociallinks img {
  height: 30px;
  margin: 0 0.5em;
}

.trip-description {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.trip {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.trip img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}

.trip-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.trip-table th,
.trip-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.trip-table th {
  background-color: #f2f2f2;
}

.trip-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.employee-profiles {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.employee {
  text-align: center;
}

.employee img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}
.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form input[type="radio"],
.contact-form input[type="checkbox"] {
  margin-right: 5px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form input[type="submit"] {
  background-color: var(--accent2-color); 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #e74c3c; 
}

.article-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.company-info {
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

.company-info p {
  margin-bottom: 10px;
}

.adventure-section {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.adventure-section figure {
  flex: 1; 
  margin: 0 5px; 
}

.adventure-section img {
  width: 100%; 
  height: auto;
  border-radius: 5px; 
}

.adventure-section figcaption {
  text-align: center; 
  margin-top: 5px; 
}


.history-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.history-section figure {
  flex: 1 1 200px; 
  margin: 0 10px; 
}

.history-section img {
  width: 100%; 
  max-width: 100%; 
  height: auto;
  border-radius: 5px; 
}

.history-section figcaption {
  text-align: center; 
  margin-top: 5px; 
}