@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap');

:root {
  --primary-color: #060B0F;
  --secondary-color: #FFBF00;
  --accent1-color: #44B0DB;
  --accent2-color: #A9BC8A;

  --heading-font: 'Open Sans', sans-serif;
  --paragraph-font: 'Lato', sans-serif;

  --nav-background-color: #060B0F;
  --nav-link-color: #FFBF00;
  --nav-hover-link-color: #060B0F;
  --nav-hover-background-color: #FFBF00;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  color: var(--primary-color);
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

nav a {
  text-decoration: none;
}

.logo {
  width: 10px;
  height: 10px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

article img {
  float: right;
  margin-left: 20px;
}