@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap');

:root {
  --primary-color: #060B0F;
  --secondary-color: #FFBF00;
  --accent1-color: #44B0DB;
  --accent2-color: #A9BC8A;

  --heading-font: 'Open Sans', sans-serif;
  --paragraph-font: 'Lato', sans-serif;

  --nav-background-color: #060B0F;
  --nav-link-color: #FFBF00;
  --nav-hover-link-color: #060B0F;
  --nav-hover-background-color: #FFBF00;
}


body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}


header {
  padding: 20px;
  background-color: var(--accent1-color);
}


p {
  padding: 25px;
}


nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}